div, span, p, input, button, form, a, ul, li, h2 {
	box-sizing: border-box;
}
.heading {
	color: red;
}
.heading_2 {
	color: white;
	background: green;
	line-height: 1.5em;
}
.head_2 {
	padding: 50px;
}
.text_2 {
	margin-left: 100px;
}
.text {
	color: white;
	background: #0049C2;
	width: 100px;
	height: 80px;
	margin-bottom: 100px;
}
.region {
	color: red;
}
.list {
	border: 1px solid black;
	font-size: 25px;
}

