body {
	font-family: 'Open-Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 900;
}
.container {
	width: 1170px;
	margin: 0 auto;
}

/*header*/

.header {
	background: #00C0FF;
	background: -webkit-linear-gradient(top left, #00C0FF, #3790D9);
	background: -moz-linear-gradient(top left, #00C0FF, #3790D9);
	background: linear-gradient(to bottom right, #00C0FF, #3790D9);
	color: #fff;
}
.logo {
	padding-top: 60px;
	padding-bottom: 60px;
}
.wrapper {
	display: flex;	
	justify-content: space-between;
	padding-bottom: 140px;
	align-items: center;
}
.motivation {
	width: 560px;
}
h1 .title {
	font-size: 37px;
	line-height: 1.7em;
	margin-bottom: 40px;
}
.title span {
	font-size: 59px;
}
.intro {
	width: 400px;
	line-height: 1.6em;
}
.btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 15px;
	padding: 15px 0;
	margin-top: 40px;
	width: 220px;
	background: #ffd429;
	display: block;
	color: #000;
	text-decoration: none;
	text-align: center;
	transition: all 0.5s ease;
	border: none;
}
.btn:hover {
	background: #e9be15;
	cursor: pointer;
}
.world {
	margin-top: 60px;
}
/*section future*/

.future {
	padding-top: 100px;
	padding-bottom: 120px;
	text-align: center;
}
.section-title {
	font-size: 30px;
	text-align: center;
}
.perspectives {
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
}
.perspective {
	width: 289px;
	background: url('..//IMG/time.jpg') no-repeat top;
	padding-top: 90px;
}
.perspective-title {
	font-size:19px;
} 	
.perspective-text {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	margin-top: 10px;
	font-size: 15px;
}
.perspective-beach {
	background: url('..//IMG/beach.jpg') no-repeat top;
}
.perspective-rocket {
	background: url('..//IMG/ilon_mask.jpg') no-repeat top;
}

/*section work*/

.work {
	padding-top: 100px;
	background: #ecf3f8;
	padding-bottom: 200px;
}
.information {
	padding-top: 60px;
}
.input {
	margin: 14px auto;
	display: block;
	width: 340px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	height: 45px;
}
.information .btn {
	margin: 0 auto;
	width: 340px;
}

/*footer*/

.footer {
	background: #164d7a;
	font-size: 14px;
	color: #fff;
	text-align: center;
}
.license {
	padding: 62px 0;
	margin: 0;
}

/*responsive*/

/*992x1200*/
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
}
/*768x992*/
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;	
	}
	.motivation{
		width: 100%;
		text-align: center;
	}
	.intro {
		width: 100%;
	}
	.motivation .btn {
		margin: 40px auto 0;
	}
	.perspectives {
		flex-direction: column;
		align-items: center;
	}
	#perspective, .perspective-beach {
		margin-bottom: 40px;
	}
}
/*576x768*/
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
}
/*320(0)x576*/
@media screen and (max-width: 576px) {
	.container {
		width: 95%;
	}
	.world {
		width: 300px;
	}
	.input, .information .btn {
		width: 90%;
	}
}