body {	
	font-family: 'Lato', 'Verdana';
	font-size: 100%;
	background: #fff;
	margin: 0;
	padding: 0;
}



/* Шапка сайта*/



.clear {
	clear:both;
}
.wrap {
	margin: 0 15%;
	width: 70%;
}
.header {
	padding: 1.3em 0em;
}
.logo {
	float: left;
}
.logo a {
	display: block;
}
.nav {
	float: right;
	margin-top: 0.82em;
}
.menu {
	display: inline-block;
}
.menu a:hover {
	background: #d0a5a5;
  	color: #ffffff;

}
.menu a {
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
	text-transform: uppercase;
	padding: 0.5em 1em;
	color: #444;
	-webkit-transition: 0.9s; /*Для Chrome*/
	-moz-transition: 0.9s; /*Для Firefox*/
	-o-transition: 0.9s; /*Для Opera*/
	transition:	0.9s; 
	text-decoration: none;
}



/* Большая картинка*/



.mops_bg {
	background: url(images/html_coding_banner.jpg) no-repeat;
	background-size: 100% 100%;
	float: left;
}
.mops_text {
	padding: 20% 0%;
}
.mops_text h2 {
	color: #fff;
	font-size: 2.9em;
	font-weight: 600; 
	z-index: 10;
	text-align: center;
	position: relative;
	margin-top: -140px;
}
.mops_text h2 span {
	font-size: 1.1em;
	font-weight: 290;
}
.mops_text p {
	color: #fff;
	font-size: 1.2em;
	text-align: center;
	margin: 1.4em auto;
	width: 76%;
	font-weight: 200;
	line-height: 1.3em; 
}
.mops_text .da-butt {
	display: block;
	background-color: #a97b7b;
	color: #fff;
	font-size: 1em;
	text-transform: uppercase;
	margin: 0 auto;
	width: 10%;
	text-align: center;
	padding: 1em 2em;
	text-decoration: none;
}
.da-butt {
  position: absolute; 
  left: 750px; top: 370px;
  	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out; 
  	-o-transition: all 0.5s ease-in-out;
  	-ms-transition: all 0.5s ease-in-out; /* Вроде для Internet Explorer*/
  	transition: all 0.5s ease-in-out;
}
.mops_text .da-butt:hover {
  background:#d0a5a5;
}
.butt-img {
	width: 50px;
  	height: 50px;
  	display: block;
  	margin: 2em auto 1em;
 	background: url(images/html_coding_buttonimg.png);
  	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out; 
  	-o-transition: all 0.5s ease-in-out;
  	-ms-transition: all 0.5s ease-in-out; /* Вроде для Internet Explorer*/
  	transition: all 0.5s ease-in-out;
  	position: relative;
  	left: 210px; top: 130px;
}
.butt-img:hover {
	display: block;
	width: 50px;
	height: 50px;
	background: url(images/html_coding_buttonimgh.png);
}



/* Секция с Портфолио*/



.portfoliom {
	position: relative;
	display: block;
	width: 100%;
	float: left;
}
.container-well h2 {
	color: #4d4d4d;
	font-size: 2em;
	padding-bottom: 0.5em;
	text-align: center;
}
.container-well p {
	color: #444444;
	font-size: 1em;
	padding-bottom: 1em;
	text-align: center;
}



/* Секция с Портфолио(Меню)*/



.valantin {
	width: 60%;
	list-style: none; /* Немаркированный список*/
	margin: 2% auto;
	padding: 0;
}
.valantin li {
	float: left;
	margin-left: 17px;
}
.valantin li span {
	display: block;
	background: #d0a5a5;
	padding: 15px 30px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.valantin li span:hover {
	background: #a97b7b;
}



 /* Секция с портфолио(Картинки)*/



.portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-o-box-sizing: border-box;
  	width: 19%;
  	margin: 0% 3%;
  	display: none;
  	float: left;
}
.portfolio-wrapper {
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.portfolio img {
	max-width: 100%;
	position: relative;
	opacity: 5;
	transition: all 300ms;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
}
.ch-info {
	opacity: 0;
}
.row1 {
	position: relative;
	display: block;
	width: 100%;
	float: right;
}
.row1 ul li{
	left: 20px;
	margin: 30px 0;
	padding: 0 50px;
	position: relative;
	display: inline-block;
}
.row2 {
	position: relative;
	display: block;
	width: 100%;
	float: right;
}
.row2 ul li{
	left: 20px;
	margin: -20px 0 0 0;
	padding: 0 50px;
	position: relative;
	display: inline-block;
}



/* Трёхколоночная секция*/



.about {
	color: #fff;
	background-color: #a87a7a;
	text-align: center;
	padding: 0.5em 0em;
}
.wrap-about {
	width: 90%;
	margin: 0 auto;
}
.about h2 {
	font-size: 2em;
	padding-bottom: 0.5em;
}
.about p {
	font-size: 1em;
	padding-bottom: 4em;
}
.grid {
	width: 30%;
	float: left;
	background-color: #fff;
	margin: 0 1.5%;
	border: 1px solid black;
	min-height: 508px;
}
.grid h3 {
	color: #292828;
	font-size: 1.4em;
	margin-top: 15px;
}
.grid p {
	color: #444;
	font-size: 1em;
	text-align: left;
	padding: 1em 1em 2em 1em;
	line-height: 1.9em;
}
.grid img {
	height: 228px;
	width: 220px;
}



/* Обратная связь*/



.con {
	display: block;
   	float:left;
   	margin: 3% 0 3% 1.5%;
   	width: 100%;
}
.con h2 {
	color: #4d4d4d;
	font-size: 2em;
	padding-bottom: 0.5em;
	text-align: center;
}
.con p {
	color: #444444;
	font-size: 1em;
	padding-bottom: 1em;
	text-align: center;
}
.con:first-child {
    margin-left:0; 
}
.null {
	display: block;
	width: 90%;
	position: relative;
	margin: 0 auto;
}
.part_2_of_3 {
    width: 66%;
}
.cont-form {
    padding-bottom: 25px;
}
.cont-form div {
    padding: 5px 0 15px;
}
.cont-form input[type="text"],.cont-form input[type="email"],.cont-form textarea {
    width: 42%;
    padding: 15px;
    display: block;
    outline: none;
    background-color: #fff;
    color: #888282;
    font-size: 0.8em;
    float:left;
    margin-right: 2em;
    font-family: Verdana, sans-serif;
    font-style: italic;
    border: 2px solid #cacaca;
}
.cont-form input[type="email"] {
    margin-right: 0em;
}
.cont-form textarea {
    padding: 18px;
    display: block;
    width: 91%;
    height:180px;
    background-color: #fff;
    outline: none;
    color: #888282;
    font-size: 0.8em;
    font-style: italic;
    border:2px solid #cacaca;
    margin-bottom: 2em;
   	resize: none;
}
.cont-form input[type="submit"] {
	font-family: Verdana, sans-serif;
	font-size: 1em;
	color:#fff;
	padding: 0.7em 1.4em;
	margin-right: 3.5%;
	background-color: #a97b7b;
	border:none;
	display: block;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	float: right;
	-webkit-transition: 0.9s;
	-moz-transition: 0.9s;
	-o-transition: 0.9s;
	transition:	0.9s; 
 }
 .cont-form input[type="submit"]:hover {
 	background: #d0a5a5;
 }
 .part_1_of_3 {
   	width: 32%;
}
.part_1_of_3 p {
	color: #444444;
	font-size: 1em;
	text-align: left;
	margin: 0;
}
.small-img {
	bottom: 20px;
	right: 40px;
	position: relative;
	display: block;
	float: left;
}
.comp_add {
	width: 100%;
}
.comp_add p {
   font-size:0.8em;
   color:#525252;
   line-height: 1.8em;
}
.comp_add a{
   font-size:1.1em;
   color:#525252;
   line-height: 1.8em;
}
.list2 {
	position: relative;
	padding-top: 63px;
}
.list2 li{
	list-style: none;
}
.list2 li img{
	width: 15px;
   	margin-top: 4px;
}
.list2 li .icon {
	float: left;
   	padding-left: 1em;
}	
.list2 li #phone_img {
	transform: scale(-1, 1);
}
#iml img {
	float: left;
	width: 20px;
   	margin-top: 4px;
}
.small-img ul {
	list-style: none;
}
.explanation {
	position: relative;
	right: 20px;
}
.explanation ul {
	list-style: none;
}
.explanation ul li{
	height: 20px;
	padding: 0;
}
footer {
    background: #303441;
    padding: 24px 0;
}
.copy p {
   	font-size: 0.714em;
    line-height: 1.7em;
    color: #666d89;
    text-align: center;
}
.copy p a {
    color: #eee;
}
.copy p a:hover {
    color: #a97b7b;
}
