body {
	margin: 0;
	padding: 0;
	background-color: #202020;
	color: #2196f3;
	font-family: Consolas;
}
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Consolas;
}
.change-post-win {
	width: 100%;
	display: block;
	display: flex;
	border-radius: 10px;
	justify-content: center;
}
.change-post-win .new-post {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.change-post-win .new-post form{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	margin-top: 20px;

}
input[type=text] {
	display: block;
	width: 80%;
	margin-top: 9px;
	padding: 16px 20px;
	background-color: #303030;
	color: #2196f3;
	box-sizing: border-box;
	border: 1px solid #2196f3;
	margin-bottom: 20px;
}
input[type=text]:focus {
    border-color: #2196f3;
    outline: 0;
}
input[type=text]::placeholder {
	color: #2196f3;
}
